.NavBar {
	backdrop-filter: brightness(80%);
	nav {
		display: flex;
		flex-direction: row;
		padding: 0.5rem 1rem;
		justify-content: space-between;
		h2 {
			a {
				text-decoration: none;
				color: white;
				&:hover {
					color: #12202c;
				}
			}
		}
	}
}
